<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% user = User.find_by(id:session[:user_id])%>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><img class="mb-4" src="logo.png" alt="logo" width="72" height="72"></li> 
        <li><%= link_to "Todaysplan",'#' %></li>
        <li><%= link_to "Entercalories","/entercalories" %></li>
        <li><%= link_to "analyzeweightchange",'#' %></li>
        <li><%= link_to "Home", "/home" %></li>
        <li><%= link_to "Log Out","/logout" %></li>
      </ul>
    </nav>
  </div>
</header>

<br><br><br><br>

<script type='text/javascript'>
  function addnewrow(section)
  {
    var table = document.getElementById(section);
    var row = table.insertRow(1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell5 = row.insertCell(3);
    var cell6 = row.insertCell(4);
    var cell6 = row.insertCell(5);
    var cell7 = row.insertCell(6);

    var element = document.createElement('input');
    element.type = "number";
    cell1.appendChild(element);
    cell2.appendChild(element);
    cell3.appendChild(element);
    cell4.appendChild(element);
    cell5.appendChild(element);
    cell6.appendChild(element);
    cell7.appendChild(element);
    
  }
  </script>

<body style="background-color:#87CEEB">
<h1>Enter Calories</h1>

<table id="Breakfast" style="width:100%">
  <tr>
    <th style="font-size: 40px">Breakfast</th>
    <th>Calories</th> 
    <th>Carbs</th>
    <th>Fat</th>
    <th>Protein</th>
    <th>Sodium</th>
    <th>Sugar</th>
  </tr>
</table>

<input type="button" onclick="addnewrow('Breakfast')" value="Add food">

<table id="Lunch" style="width:100%">
  <tr>
    <th style="font-size: 40px">Lunch</th>
  </tr>
</table>
<input type="button" onclick="addnewrow('Lunch')" value="Add food">

<table id="Dinner" style="width:100%">
  <tr>
    <th style="font-size: 40px">Dinner</th>
  </tr>
</table>
<input type="button" onclick="addnewrow('Dinner')" value="Add food">

<table id="Snacks" style="width:100%">
  <tr>
    <th style="font-size: 40px">Snacks</th>
  </tr>
</table>
<input type="button" onclick="addnewrow('Snacks')" value="Add food">

</body>