<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><img class="mb-4" src="logo.png" alt="logo" width="130" height="72"></li>
        <li><%= link_to "Todaysplan", "/todo_lists" %></li>
        <li><%= link_to "Daily Calorie Intake","/analyzeweightchange" %></li>
        <li><%= link_to "Nearby Gyms", "/nearbygyms" %></li>
        <li><%= link_to "Stopwatch", "/stopwatch" %></li>
        <li><%= link_to "Home", "/home" %></li>
        <li><%= link_to "Log Out", "/logout"%></li>

      </ul>
    </nav>
  </div>
</header>

<body background="pic.jpeg">
  <% user = User.find_by(id:session[:user_id])%>
  <div class="center jumbotron text-center">
    <br><br><h2>Welcome Back, <%= user.firstname %> </h2>
  </div>
</body>
