<!doctype html>
<html lang="en">
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><img class="mb-4" src="logo.png" alt="logo" width="72" height="72"></li>
        <li><%= link_to "Todaysplan", "/todo_lists" %></li>
        <li><%= link_to "Daily Calorie Intake","/analyzeweightchange" %></li>
        <li><%= link_to "Nearby Gyms", "/nearbygyms" %></li>
        <li><%= link_to "Stopwatch", "/stopwatch" %></li>
        <li><%= link_to "Home", "/home" %></li>
        <li><%= link_to "Log Out", "/logout"%></li>

      </ul>
    </nav>
  </div>
</header>
<br><br><br>

<!--       var service;

         service = new google.maps.places.PlacesService(map);
         service.findPlaceFromQuery(request, function(results, status) {
           if (status === google.maps.places.PlacesServiceStatus.OK) {
             for (var i = 0; i < results.length; i++) {
               createMarker(results[i]);
             }
           }
       }); -->
<!--     }

      function createMarker(place) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      } -->

<head>
    <title>Nearby Gyms</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        border-top: 5px solid black;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: lightgreen;
      }

      h1 {
        text-align: center;
        font-family: Georgia;
        font-size: 200%;
        border: 5px solid black;
        background-color: lightyellow;
        padding: 15px;
      }

      #address, #submit {
        font-family: Georgia;
        font-size: 100%;
        border: 1px solid black;
        background-color: lightyellow;
        padding: 10px;
        text-align: center;

      }

    </style>
  </head>

  <h1>Enter your address</h1>
  <input type="textbox" id="address"><br><br>
  <input id="submit" type="button" value="Search">
  <br><br>

  <form action="">
    <input type="button" id="distance" value="1 km" onclick="changeDistance(1000,14)">
    <input type="button" id="distance" value="5 km" onclick="changeDistance(5000,13)">
    <input type="button" id="distance" value="10 km" onclick="changeDistance(10000,12)">
  </form>

  <br><br>

  <body>

    <div id="map"></div>
    <script>

      var map;
      var service;
      var infowindow;
      var geoCity;
      var markers = [];

      function initMap() {
        var burnaby = new google.maps.LatLng(49.2488,-122.9805);
        var geocoder = new google.maps.Geocoder();

        map = new google.maps.Map(document.getElementById('map'), {
          center: burnaby,
          zoom: 13
        });

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);

        });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;

        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            geoCity = new google.maps.LatLng((results[0]).geometry.location.lat(), (results[0]).geometry.location.lng());

            resultsMap.setCenter(results[0].geometry.location);
            resultsMap.setZoom(14);

            var request = {
              location: geoCity,
              radius: '1000',
              query: 'gym'
            };

            service = new google.maps.places.PlacesService(map);
            service.textSearch(request, callback);

            //HOW DO YOU CHANGE YOUR MARKER COLOR??????
            //var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
            // var marker = new google.maps.Marker({
            //   map: resultsMap,
            //   position: results[0].geometry.location
              //HOW DO YOU CHANGE YOUR MARKER COLOR??????
              // icon: { url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png" }
            //});

          } else {
            window.alert('Unsuccessful: ' + status);
          }

        });

      }

      //HOW DOU CHANGE FLAG COLORS????????
      function yourlocation(location) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
          //icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
        });

        markers.push(marker);

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }

      function callback(results, status) {
        setMapOnAll(null);
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
          var place = results[i];
          createMarker(place);
          }
        }
      }

      function createMarker(place) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        markers.push(marker);

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }

      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      function deleteMarkers() {
        setMapOnAll(null);
        markers = [];
      }

      function changeDistance(distance, zoomlevel) {
        map.setZoom(zoomlevel);
        map.setCenter(geoCity);

        var request = {
          location: geoCity,
          radius: distance,
          query: 'gym'
        };

        service = new google.maps.places.PlacesService(map);
        service.textSearch(request, callback);
      }

    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initMap" async defer></script>
  </body>
</html>
