<!doctype html>
<html lang="en">
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% user = User.find_by(id:session[:user_id])%>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><img class="mb-4" src="logo.png" alt="logo" width="72" height="72"></li> 
        <li><%= link_to "Todaysplan",'#' %></li>
        <li><%= link_to "Discover your BMR",   "/analyzeweightchange" %></li>
        <li><%= link_to "Nearby Gyms",'/nearbygyms' %></li>
        <li><%= link_to "Stopwatch", "/stopwatch" %></li>
        <li><%= link_to "Home", "/home" %></li>
        <li><%= link_to "Log Out","/logout" %></li>
      </ul>
    </nav>
  </div>
</header>
</html>

<br><br><br><br>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
    async defer></script>
  </body>  <br><br>
  <h1>Enter your location</h1>
  <form action="">
  <input type="text" name="location"><br>
  <input type="submit" value="Submit">
</form>